<header id="header">
  <div id="banner"></div>
  <div id="header-outer" class="outer">
    <div id="header-title" class="header-title-group inner">
      <p id="logo-wrap" class="header-title">
        <%= config.title %>
        <!-- <a href="<%- url_for() %>" id="logo"><%= config.title %></a> -->
      </p>
      <% if (theme.subtitle || config.subtitle){ %>
        <p id="subtitle-wrap" class="header-subtitle">
          <%= theme.subtitle || config.subtitle %>
          <!-- <a href="<%- url_for() %>" id="subtitle"><%= theme.subtitle || config.subtitle %></a> -->
        </p>
      <% } %>
      <% if (theme.description || config.description){ %>
        <p id="description-wrap" class="header-description">
          <%= theme.description || config.description %>
          <!-- <a href="<%- url_for() %>" id="description"><%= theme.description || config.description %></a> -->
        </p>
      <% } %>
    </div>
    <div id="header-inner" class="nav-menu inner">
      <nav id="main-nav" class="main-nav">
        <% for (var i in theme.menu){ %>
          <a class="main-nav-link" href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
        <% } %>
      </nav>
      <%- include("./search.ejs") %>
    </div>
  </div>
</header>
